
<div class="container mx-auto p-4">
    <div class="w-full flex justify-between items-center">
        <h1 class="text-xl leading-8 font-semibold text-gray-900">
            Medical Record
        </h1>
        <div class="button">
            <%= form_tag doctor_medical_record_path, method: :get do %>
            <%= text_field_tag :search,params[:search],required: true ,placeholder: "firstname, lastname, email, student id", class: "form-control" %>
            <%= submit_tag "Search", class:"my-2 flex items-center justify-center rounded-md bg-gray-900 py-3 font-medium text-white w-full"%>
            <% end %>
        </div>
    </div>
</div>

<div class="table w-full  p-4">
    <table class="w-full border">
        <thead>
            <tr class="bg-gray-50 border-b">
                <th class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500">
                    <div class="flex items-center justify-center">
                        Student Name
                    </div>
                </th>
                <th class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500">
                    <div class="flex items-center justify-center">
                        Student Email
                    </div>
                </th>
                <th class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500">
                    <div class="flex items-center justify-center">
                        Student ID
                    </div>
                </th>
                <th class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500">
                    <div class="flex items-center justify-center">
                        Action
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <% @users.each do |user| %>
            <tr class="bg-gray-100 text-center border-b text-sm">
                <td class="p-2 border-r"><%= "#{user.firstname} #{user.lastname}" %></td>
                <td class="p-2 border-r"><%= user.email %></td>
                <td class="p-2 border-r"><%= user.student_id %></td>
                <td><%= link_to "View details", doctor_student_information_path(user: user.id), class: "bg-blue-500 p-2 text-white hover:shadow-lg text-xs font-thin"%>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
</div>