   <div class="flex items-center justify-center h-screen">
       <div class="p-4 rounded shadow-lg ring ring-red-600">
           <div class="flex flex-col items-center space-y-2">
               <% if @appointment.status == "pending"%>

                    <h1 class="text-4xl font-bold">Successful booking </h1>
                    <h3>Your appointment is currently pending. We will notify you via your email as soon as it is confirmed.</h3>
                    <%= link_to root_path, class: "inline-flex items-center px-4 py-2 text-white bg-red-600 border border-red-600 rounded rounded-full hover:bg-red-700 focus:outline-none focus:ring mt-5" do %>
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-3 h-3 mr-2" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M7 16l-4-4m0 0l4-4m-4 4h18" />
                            </svg>
                            <span class="text-sm font-medium">
                                Back to dashboard
                            </span>
                    <% end %>
                <% elsif @appointment.status == "confirmed" %>
                    <h1 class="text-4xl font-bold">Accepted booking.</h1>
                    <% date_confirmed = DoctorAppointment.find(@appointment.id)%>
                    <h3>Your booked appointment on  <%= date_confirmed.start_time.strftime("%m/%d/%Y") %> at <%= date_confirmed.start_time.strftime("%I:%M%p") %> has been approved. Please arrive 15 minutes earlier before your booked schedule. Thank you!</h3>
                    <%= link_to root_path, class: "inline-flex items-center px-4 py-2 text-white bg-red-600 border border-red-600 rounded rounded-full hover:bg-red-700 focus:outline-none focus:ring mt-5" do %>
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-3 h-3 mr-2" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M7 16l-4-4m0 0l4-4m-4 4h18" />
                            </svg>
                            <span class="text-sm font-medium">
                                Back to dashboard
                            </span>
                    <% end %>
                <% else %>
                    <h1 class="text-4xl font-bold"> Denied booking</h1>
                    <h3>Your booked appointment has been denied. Kindly book an appointment on a different schedule. Thank you!</h3>
                    <%= link_to root_path, class: "inline-flex items-center px-4 py-2 text-white bg-red-600 border border-red-600 rounded rounded-full hover:bg-red-700 focus:outline-none focus:ring mt-5" do %>
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-3 h-3 mr-2" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M7 16l-4-4m0 0l4-4m-4 4h18" />
                            </svg>
                            <span class="text-sm font-medium">
                                Back to dashboard
                            </span>
                    <% end %>
                <% end %>
           </div>
       </div>
   </div>